<!doctype html>
<html>
<style>

ul {
  background: #3399ff;
  padding: 20px;
}
ul li {
  background: #cce5ff;
  margin: 5px;
}

body{
background-color: salmon;
background-repeat: repeat-y;
background-repeat: repeat-x;
}
</style>
 <head> 
  <title>Queries</title>
</head>
<h1> <font color="black"> Recipe Bank Search Results</font></h1>
 <body>
 <h3><font color="black"> You will see the recipes that you searched below:</font> <ul>
<ul> 
<% availablerec.forEach(function(recipe){ %>
<li> <%= recipe.recipename %>, Owner: <%= recipe.recipeowner %>,Details: <%= recipe.recipedetails %>, Preptime: <%= recipe.preptime %>, Difficulty: <%= recipe.difficulty %>  </li>
<% }) %>
</ul>
</body>
<a href='./'>Home</a>
</html>

